.ni-text-area {
    width: 100%;
    margin: 0;
    //padding-left: calc((log()*100px));
    padding-left: calc(26%);
    padding-right: calc(26%);
    //--varavel: 20%;
    @media (max-width: 1366px) {
        padding-left: calc(18%);
        padding-right: calc(18%);
    }
    @media (max-width: 768px) {
        padding-left: calc(14%);
        padding-right: calc(14%);
    }
    @media (max-width: 450px) {
        padding-left: calc(10%);
        padding-right: calc(10%);
    }
}
.ni-presentation{
    hr{
        display: block;
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 0;
        height: 0.3rem;
        width: 25%;
        border: 0.1rem solid #c15742;
        
        background-color: #c15742;
    }

    --font-texto:  2.3vw;

    h1{
        font-family: "Literata", serif;
        //font-style:;
        font-weight: 900;
        
        font-size: var(--font-texto);
        margin-bottom: 3px;
    }
    h2{
        margin-top: 0;
        font-size: calc((var(--font-texto) * 3)/5);
        font-family: "Literata", serif;
        font-style:normal;
        font-weight:bold;
        //font-weight: bold;
        
    }
    h4{
        font-family: "Literata", serif;
        font-style:oblique;
        font-weight:normal;
        margin: 0;
        font-size: calc((var(--font-texto) * 3)/5);
    }

    @media (max-width: 1366px) {
        --font-texto:  2.7vw;
        //h1{ font-size: var(--font-texto); }
        //h2{ font-size: calc(50% * var(--font-texto)); }
        //h4{ font-size: 1.6vw; }
    } 
    @media (max-width: 768px) {
        --font-texto:  3.3vw;
        //h1{ font-size: var(--font-texto); }
        //h2{ font-size: 1.8vw; }
        h4{ font-size: 2.6vw; }
    }
    @media (max-width: 450px) {
        --font-texto:  5.2vw;
        //h1{ font-size: var(--font-texto); }
        //h2{ font-size: 3.4vw; }
        //h4{ font-size: 3.2vw; }
    }
}

h3 {
    font-size: 1.6vw;
    font-family: "Literata", serif;

    
    //font-style:;
    font-weight:normal;
}

@media (max-width: 1366px) {
    h3{ font-size: 2.2vw; }
}
@media (max-width: 768px) {
    h3{ font-size: 2.8vw; }
}
@media (max-width: 450px) {
    h3{ font-size: 3.6vw; }
}

.interactive-grafico {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1{
        margin: 0;
        font-size: 1.8vw;
    }
    @media (max-width: 1366px) {

        h1{ font-size: 2.8vw; }
        h2{ font-size: 2.2vw; }
        h4{ font-size: 1.6vw; }
    } 
    @media (max-width: 768px) {
        h1{ font-size: 3.5vw; }
        h2{ font-size: 2.8vw; }
        h4{ font-size: 2.6vw; }
    }
    @media (max-width: 450px) {
        h1{ font-size: 4.2vw; }
        h2{ font-size: 3.4vw; }
        h4{ font-size: 3.2vw; }
    }
    img{
        margin-top: 10px;
        width: 100%;
    }
}

div.menu-bar ul ul {
display: none;
}

div.menu-bar li:hover > ul {
display: block;
}

.imagesmapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30vw;
    .imggeral{
        position: absolute;
        //display: 'block';
        width: 10%;
        
    }
    .nordeste{
        width:10.7%;
        margin-left: 19.6%;
        margin-top: 5.2%;
    }
    .sul{
        width:7%;
        margin-top: 21.5%;
        margin-left: 2%;
    }
    .sudeste{
        width:10.3%;
        margin-top: 15.3%;
        margin-left: 12%;
    }
    .norte{
        width:21.8%;
        margin-right: 8.9%;
    }
    .centrooeste{
        width: 11.8%;
        margin-top: 10.23%;
        margin-left: 0.14%;
    }
    // .teste{
    //     display: none;
    // }
    .descricao{
        width: 10%;
        margin-top: 15%;
        margin-left: 20%;
    }
    .infos{
        width: 25%;
        margin-top: 7%;
        margin-left: 66%;
    }
}

// .imagesmapa nordeste:hover > teste{
//     display: block;
// }