.ni-media {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //height: 30vh;
    align-items: center;

    img{
       //height: 100%;
       width: 35%;
    }

    @media (max-width: 1366px) {
        
        img {
            width: 55%;
        } 
    }
    @media (max-width: 768px) {
        
        img {
            width: 65%;
        }
    }
    @media (max-width: 450px) {
        
        img {
            width: 75%;
        }
    }
}